html {
    font-family: Arial, Avenir, "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 85%;
}
.table-header {
    background-color: #dddddd;
    font-weight: normal;
}
.title {
    width: 65%;
}
.data {
    padding: 5px 0px;
}
a.link {
    color: #003366;
    text-decoration: underline;
}
a.browse_links {
    color: #003366;
}
h4 {
    font-size: small;
    color: #003366;
    padding: 0 0 1em 0;
    margin: .5em 0;
}